[% PROCESS header.html title="Admin Dashboard" %]

<h3>[% blop.conf.title %]</h3>

<ul>
<li>[% blop.num_posts.published %] posts[% IF blop.num_posts.unpublished %] ([% blop.num_posts.unpublished %] unpublished)[% END %]</li>
<li>[% blop.num_pages.published %] pages[% IF blop.num_pages.unpublished %] ([% blop.num_pages.unpublished %] unpublished)[% END %]</li>
<li>[% blop.num_categories %] categories</li>
<li>[% blop.num_tags %] tags</li>
<li>[% blop.num_comments.approved %] comments[% IF blop.num_comments.pending %] ([% blop.num_comments.pending %] pending)[% END %]</li>
</ul>

<h3>Visits</h3>
<p>
    [% visits.page_views %] page views <a href="[% urlbase %]/admin/visits"><i class="fa fa-eye"></i></a>, [% visits.unique_ips %] unique IPs <a href="[% urlbase %]/admin/ips"><i class="fa fa-globe"></i></a>, [% visits.referals %] referals <a href="[% urlbase %]/admin/visits?referals=1"><i class="fa fa-lightbulb-o"></i></a>
</p>

<canvas id="visits-graph" width="1000" height="265"></canvas>

<h3>Log</h3>
<ul class="logs">
[% FOREACH log IN logs %]
    <li><div>[% log.content %]</div><div class="muted">[% log.date.natural %] from [% log.ipaddr %]</div></li>
[% END %]
</ul>

<script type="text/javascript" src="[% urlbase %]/admin/js/chartjs/Chart.js"></script>
<script type="text/javascript">
    var ctx = $("#visits-graph").get(0).getContext("2d");
    var data = {
        labels: [% json(visits.labels) %],
        datasets: [
            {
                fillColor: "rgba(151,187,205,0.2)",
                strokeColor: "rgba(151,187,205,1)",
                pointColor: "rgba(151,187,205,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(151,187,205,1)",
                data: [% json(visits.counts) %]
            },
            {
                fillColor: "rgba(220,220,220,0.2)",
                strokeColor: "rgba(220,220,220,1)",
                pointColor: "rgba(220,220,220,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: [% json(visits.ip_counts) %]
            },
        ]
    };
    var config = {showTooltips: false};
    var chart = new Chart(ctx).Line(data, config);
</script>
[% PROCESS footer.html %]

