[% PROCESS header.html title="Manage Categories" x1="Manage" x2="Categories" %]

<div class="navigation-summary">[% navigation.summary %]</div>

<table class="entry-list">
<tr><th>Name</th><th>URL</th><th>Posts</th><th>Actions</th></tr>
[% FOREACH category IN categories %]
<tr data-categoryid="[% category.categoryid %]"[% IF category.special %] class="special-category"[% END %]>
    <td><a href="[% category.editurl %]">[% IF category.special %]Special: [% END %][% category.name | html %]</a></td>
    <td>/[% category.url | html %]</td>
    <td><a href="[% urlbase %]/admin/posts/[% category.url %]">[% category.num_posts | html %]</a></td>
    <td class="entry-actions">
        <a href="[% category.fullurl %]">View</a>
        <a href="[% category.editurl %]">Edit</a>
        <a href="#" class="delete-category">Delete</a>
    </td>
</tr>
[% END %]
</table>

<br/>
<div>[% navigation.links %]</div>

<script type="text/javascript">
$(".delete-category").on("click", function (event) {
    event.preventDefault();
    var tr = $(this).closest("tr");
    var td = tr.find("td.entry-actions");
    var categoryid = tr.data("categoryid");
    var ajax = $.ajax({
        url: "[% urlbase %]/admin/delete-category-js",
        type: "POST",
        data: {categoryid: categoryid, csrf: "[% blop.csrf %]"}
    });
    ajax.done(function (data, textStatus, jqXHR) {
        if (data.error) {
            alert(data.mesg ? data.mesg : "Failed!");
        }
        else {
            tr.css("background", "lightpink");
            td.addClass("deleted");
            td.html("Deleted!");
        }
    });
    ajax.fail(function (jqXHR, textStatus, errorThrown) {
        alert(errorThrown);
    });
});
</script>

[% PROCESS footer.html %]
