[% PROCESS header.html title="Change Password" x1="Settings" x2="Change Password" %]

<form id="change-password" name="change-password" method="post" class="aform">

<label for="current">Current Password</label>
<input id="current" name="current" type="password"/><span class="current-error aform-error"></span>

<label for="pass">New Password</label>
<input id="pass" name="pass" type="password"/><span class="pass-error aform-error"></span>

<label for="confirm">Confirm Password</label>
<input id="confirm" name="confirm" type="password"/><span class="confirm-error aform-error"></span>

<br/>

<input type="submit" value="Change Password"/>
<span class="aform-mesg aform-error"></span>

</form>

<script type="text/javascript" src="[% urlbase %]/admin/js/aform.js"></script>
<script type="text/javascript">
var aform = new AForm({
    formId: "#change-password", processUrl: "[% urlbase %]/admin/change-password-js"});
aform.onSuccess = function (data) {
    $("#change-password")[0].reset();
}
</script>

[% PROCESS footer.html %]

