[% PROCESS header.html title="Comments" x1="Comments" x2=pending ? "Pending" : "All" %]

<div class="navigation-summary">[% navigation.summary %]</div>

<table class="entry-list comments">
<tr><th>Author</th><th>Post</th><th>Comment</th></tr>
[% FOREACH comment IN comments %]
<tr data-commentid="[% comment.commentid %]" class="comment-[% comment.status | lower %]">
    <td>
        [% comment.name | html %]<br/>
        [% comment.email | html %]<br/>
        [% comment.ipaddr | html %]
    </td>
    <td>
        <span class="comment-added" title="[% comment.added.str %]">[% comment.added.natural %]</span><br/>
        <a href="[% comment.added_to.fullurl %]">[% comment.added_to.label | html %]</a><br/>
        <span class="comment-status">[% comment.status %]</span>
    </td>
    <td>
        [% comment.parsed_content %]
        <div class="entry-actions">
            [% IF comment.status == "approved" %]
            <a href="#" class="unapprove-comment">Unapprove</a>
            [% END %]
            [% IF comment.status != "approved" %]
            <a href="#" class="approve-comment">Approve</a>
            [% END %]
            <a href="#" class="delete-comment">Delete</a>
        </div>
    </td>
</tr>
[% END %]
</table>

<br/>
<div>[% navigation.links %]</div>

<script type="text/javascript">
function ajaxCall (processUrl, requestData, onSuccess) {
    if (!requestData)
        return;
    var ajax = $.ajax({url: processUrl, type: "POST", data: requestData});
    ajax.done(function (data, textStatus, jqXHR) {
        if (data.error) {
            alert(data.mesg ? data.mesg : "Failed!");
        }
        else {
            onSuccess(data);
        }
    });
    ajax.fail(function (jqXHR, textStatus, errorThrown) {
        alert(errorThrown);
    });
}

function approveComment (event) {
    event.preventDefault();
    var tr = $(this).closest("tr");
    var commentId = tr.data("commentid");
    var requestData = {commentid: commentId, status: "approved", csrf: "[% blop.csrf %]"};
    ajaxCall("[% urlbase %]/admin/comment-status-js", requestData, function (data) {
        tr.attr("class", "comment-approved");
        tr.find(".comment-status").text("Approved");
        var unapprove = $("<a href='#' class='unapprove-comment'>Unapprove</a>");
        unapprove.on("click", unapproveComment);
        tr.find(".approve-comment").replaceWith(unapprove);
    });
}

function unapproveComment (event) {
    event.preventDefault();
    var tr = $(this).closest("tr");
    var commentId = tr.data("commentid");
    var requestData = {commentid: commentId, status: "pending", csrf: "[% blop.csrf %]"};
    ajaxCall("[% urlbase %]/admin/comment-status-js", requestData, function (data) {
        tr.attr("class", "comment-pending");
        tr.find(".comment-status").text("Pending");
        var approve = $("<a href='#' class='approve-comment'>Approve</a>");
        approve.on("click", approveComment);
        tr.find(".unapprove-comment").replaceWith(approve);
    });
}

function deleteComment (event) {
    event.preventDefault();
    var tr = $(this).closest("tr");
    var commentId = tr.data("commentid");
    var requestData = {commentid: commentId, csrf: "[% blop.csrf %]"};
    ajaxCall("[% urlbase %]/admin/delete-comment-js", requestData, function (data) {
        tr.attr("class", "comment-deleted");
        tr.find(".comment-status").text("Deleted");
        tr.find(".entry-actions").html("-*- Deleted -*-");
    });
}

$(".approve-comment").on("click", approveComment);
$(".unapprove-comment").on("click", unapproveComment);
$(".delete-comment").on("click", deleteComment);

</script>

[% PROCESS footer.html %]
