<div class="edit-content" id="editor">
    <div class="edit-toolbar">
    <a href="#" class="editor-bold" title="Bold"><img src="[% urlbase %]/admin/img/icomoon/16px/bold.png"/></a>
    <a href="#" class="editor-italics" title="Italics"><img src="[% urlbase %]/admin/img/icomoon/16px/italic.png"/></a>
    <a href="#" class="editor-link" title="Link"><img src="[% urlbase %]/admin/img/icomoon/16px/link.png"/></a>
    <a href="#" class="editor-quote" title="Quote"><img src="[% urlbase %]/admin/img/icomoon/16px/quotes-left.png"/></a>
    <a href="#" class="editor-indent" title="Indent"><img src="[% urlbase %]/admin/img/icomoon/16px/arrow-right2.png"/></a>
    <a href="#" class="editor-outdent" title="Outdent"><img src="[% urlbase %]/admin/img/icomoon/16px/arrow-left2.png"/></a>
    <a href="#" class="editor-image" title="Image"><img src="[% urlbase %]/admin/img/icomoon/16px/image.png"/></a>
    <a href="#" class="editor-ul" title="Unordered List"><img src="[% urlbase %]/admin/img/icomoon/16px/list.png"/></a>
    <a href="#" class="editor-ol" title="Ordered List"><img src="[% urlbase %]/admin/img/icomoon/16px/numbered-list.png"/></a>
    <a href="#" class="editor-header" title="Heading"><img src="[% urlbase %]/admin/img/icomoon/16px/newspaper.png"/></a>
    <a href="#" class="editor-hr" title="Horizontal Rule"><img src="[% urlbase %]/admin/img/icomoon/16px/minus.png"/></a>
    <input type="color" class="editor-color" value="#ff0000"/>
    [% IF widgets %]
<select class="widgets">
<option value="">Widgets</option>
[% FOREACH widget IN blop.widgets %]
<option value="[% widget.example | html %]">[% widget.name %]</option>
[% END %]
</select>
    [% END %]
    </div>
    <div class="edit-help">
    <a href="[% urlbase %]/admin/edit-help" target="_blank">Help</a>
    </div>
    <textarea name="content" id="content">[% entry.content | html %]</textarea><br/>
</div>

