[% PROCESS header2.html title="Installation" %]

<h1>Installation</h1>

<form id="install" name="install" class="aform" method="post" autocomplete="off">

<div class="aentry">
<label for="title">Blog Title</label><br/>
<input id="title" name="title" type="text"/><span class="title-error aform-error"></span>
</div>

<div class="aentry">
<label for="slogan">Blog Slogan</label><br/>
<input id="slogan" name="slogan" type="text"/><span class="slogan-error aform-error"></span>
</div>

<div class="aentry">
<label for="email">Admin Email</label><br/>
<input id="email" name="email" type="text"/><span class="email-error aform-error"></span>
</div>

<div class="aentry">
<label for="pass">Admin Password</label><br/>
<input id="pass" name="pass" type="password"/><span class="pass-error aform-error"></span>
</div>

<div class="aentry">
<label for="confirm">Confirm Password</label><br/>
<input id="confirm" name="confirm" type="password"/><span class="confirm-error aform-error"></span>
</div>

<div class="aentry">
<label for="timezone">Timezone</label><br/>
<select id="timezone" name="timezone">
[% FOREACH region IN time_zones %]
[% IF !region.region %]
<option value="[% region.zone %]">[% region.name %]</option>
[% ELSE %]
<optgroup label="[% region.region %]">
[% FOREACH zone IN region.zones %]
<option value="[% zone.zone %]">[% zone.name %]</option>
[% END %]
</optgroup>
[% END %]
[% END %]
</select>
</div>

<div class="aentry">
<label for="dbhost">Database Host</label><br/>
<input id="dbhost" name="dbhost" type="text"/><span class="dbhost-error aform-error"></span>
</div>

<div class="aentry">
<label for="dbuser">Database Username</label><br/>
<input id="dbuser" name="dbuser" type="text"/><span class="dbuser-error aform-error"></span>
</div>

<div class="aentry">
<label for="dbpass">Database Password</label><br/>
<input id="dbpass" name="dbpass" type="password"/><span class="dbpass-error aform-error"></span>
</div>

<div class="aentry">
<label for="db">Database Table</label><br/>
<input id="db" name="db" type="text"/><span class="db-error aform-error"></span>
</div>

<br/>

<input type="submit" value="Install"/>
<span class="aform-mesg aform-error"></span>

</form>

<script type="text/javascript" src="[% urlbase %]/admin/js/jquery-1.11.0.js"></script>
<script type="text/javascript" src="[% urlbase %]/admin/js/aform.js"></script>
<script type="text/javascript">
var aform = new AForm({
    formId: "#install",
    processUrl: "[% urlbase %]/admin/install-js",
    successUrl: "[% urlbase %]/admin/install-completed"
});
</script>

[% PROCESS footer2.html %]

