[% PROCESS header2.html title="Login" %]

<h1>Login</h1>

<form id="login" name="login" class="aform" method="post">

<div class="aentry">
<label for="pass">Admin password</label><br/>
<input id="pass" name="pass" type="password"/><span class="pass-error aform-error"></span>
</div>

<br/>

<input type="submit" value="Login"/>
<span class="aform-mesg aform-error"></span>

</form>

<script type="text/javascript" src="[% urlbase %]/admin/js/jquery-1.11.0.js"></script>
<script type="text/javascript" src="[% urlbase %]/admin/js/aform.js"></script>
<script type="text/javascript">
var aform = new AForm({
    formId: "#login",
    processUrl: "[% urlbase %]/admin/login-js",
    successUrl: [% redirect %]
});
</script>

[% PROCESS footer2.html %]
