[% title = page ? "Edit " _ page.label2 : "Add Page" %]
[% PROCESS header.html x1="Publish" x2="Page" %]

<form id="page" name="page" method="post" class="aform">

<input type="hidden" id="pageid" name="pageid" value="[% page.pageid %]"/>
<input type="hidden" name="csrf" value="[% blop.csrf %]"/>

<div class="aentry">
<label for="title">Title</label><br/>
<input id="title" name="title" type="text" value="[% page.title | html %]"/><span class="title-error aform-error"></span>
</div>

<div class="aentry">
<label for="url">Url</label><br/>
<input id="url" name="url" type="text" value="[% page.url | html %]"/><span class="url-error aform-error"></span>
</div>

<div class="aentry">
[% PROCESS editor.html entry=page %]
</div>

<div class="aentry">
<input type="submit" value="[% IF page %]Edit Page[% ELSE %]Add Page[% END %]"/>
<span class="aform-mesg aform-error"></span>
</div>

<div class="aentry">
[% PROCESS upload.html entry=page %]
</div>

<div class="aentry">
<label for="published">Publish Date <span class="input-info">YYYY-MM-DD or leave empty to publish immediately.</span></label><br/>
<input id="published" name="published" type="text" value="[% page.published | html %]"/><span class="published-error aform-error"></span>
</div>

<div class="aentry">
<label for="sequence">Order</label><br/>
<input id="sequence" name="sequence" type="text" value="[% page.sequence | html %]"/><span class="sequence-error aform-error"></span>
</div>

<div class="aentry">
<label for="parentid">Parent</label><br/>
<select id="parentid" name="parentid">
<option value="0"></option>
[% FOREACH page_ IN blop.parent_pages(page) %]
<option value="[% page_.pageid %]"[% IF page.parentid == page_.pageid %] selected="selected"[% END %]>[% page_.label %]</option>
[% END %]
</select>
</div>

<div class="aentry">
<label for="hidden">Hidden
<span class="input-info">Page will not show up in the theme's list of pages.</span></label><br/>
<input id="hidden" name="hidden" type="checkbox"[% IF page.hidden %] checked="checked"[% END %]/>
</div>

<div class="aentry">
<label for="hoheading">No Heading</label><br/>
<input id="noheading" name="noheading" type="checkbox"[% IF page.noheading %] checked="checked"[% END %]/>
</div>

<div class="aentry">
<input type="submit" value="[% IF page %]Edit Page[% ELSE %]Add Page[% END %]"/>
[% IF page %]
<input type="button" id="delete" value="Delete"/>
[% END %]
<input type="button" id="cancel" value="Cancel"/>
</div>

</form>

[% IF page %]<br/><a href="[% page.fullurl %]">View the page</a>[% END %]

<script type="text/javascript" src="[% urlbase %]/admin/js/aform.js"></script>
<script type="text/javascript" src="[% urlbase %]/admin/js/url-filler.js"></script>
<script type="text/javascript" src="[% urlbase %]/admin/js/editor.js"></script>
<script type="text/javascript" src="[% urlbase %]/admin/js/upload.js"></script>
<script type="text/javascript">
var aform = new AForm({
    formId: "#page", processUrl: "[% urlbase %]/admin/page-js"});
aform.onSuccess = function (data) {
    [% IF page %]
    location.href = "[% urlbase %]/admin/page-edited/" + data.pageid;
    [% ELSE %]
    location.href = "[% urlbase %]/admin/page-added/" + data.pageid;
    [% END %]
}

var urlFiller = new URLFiller({fromInputId: "#title", urlInputId: "#url"});

var editor = new Editor({divId: "#editor"});

var upload = new Upload({
    divId: "#upload",
    csrf: "[% blop.csrf %]",
    processUrl: "[% urlbase %]/admin/upload-js",
    deleteUrl: "[% urlbase %]/admin/delete-file-js",
    renameUrl: "[% urlbase %]/admin/rename-file-js",
    editor: editor
});
upload.extraParams = function () {
    return {pageid: $("#pageid").val()};
}
upload.onSuccess = function (data) {
    $("#pageid").val(data.pageid);
}

$("#delete").on("click", function () {
    var pageid = $("#pageid").val();
    if (!pageid) {
        location.href = "[% urlbase %]/admin";
        return;
    }
    var ajax = $.ajax({
        url: "[% urlbase %]/admin/delete-page-js",
        type: "POST",
        data: {pageid: pageid, csrf: "[% blop.csrf %]"}
    });
    ajax.done(function (data, textStatus, jqXHR) {
        if (data.error) {
            $("#page .aform-mesg").text(data.mesg ? data.mesg : "Okay!");
            return;
        }
        location.href = "[% urlbase %]/admin";
    });
    ajax.fail(function (jqXHR, textStatus, errorThrown) {
        $("#page .aform-mesg").text(errorThrown);
    });
});

$("#cancel").on("click", function () {
    location.href = "[% urlbase %]/admin";
});
</script>

[% PROCESS footer.html %]

