[% PROCESS header.html title="Manage Pages" x1="Manage" x2="Pages" %]

<div class="navigation-summary">[% navigation.summary %]</div>

<table class="entry-list">
<tr><th>Title</th><th>URL</th><th>Published</th><th><img src="[% urlbase %]/admin/img/icomoon/16px/attachment.png"/></th><th>Actions</th></tr>
[% FOREACH page IN pages %]
<tr data-pageid="[% page.pageid %]">
    [% IF !page.published %]
    <td colspan="3" align="center">-*- Draft -*-</td>
    [% ELSE %]
    <td><a href="[% page.editurl %]">[% page.label | html %]</a></td>
    <td>/[% page.url | html %]</td>
    <td><span title="[% page.published.str %]">[% page.published.natural | html %]</span></td>
    [% END %]
    <td>[% page.num_files %]</td>
    <td class="entry-actions">
        <a href="[% page.fullurl %]">View</a>
        <a href="[% page.editurl %]">Edit</a>
        <a href="#" class="delete-page">Delete</a>
    </td>
</tr>
[% END %]
</table>

<br/>
<div>[% navigation.links %]</div>

<br/>
<div><a href="[% urlbase %]/admin/page">Add a new page</a></div>

<script type="text/javascript">
$(".delete-page").on("click", function (event) {
    event.preventDefault();
    var tr = $(this).closest("tr");
    var td = tr.find("td.entry-actions");
    var pageid = tr.data("pageid");
    var ajax = $.ajax({
        url: "[% urlbase %]/admin/delete-page-js",
        type: "POST",
        data: {pageid: pageid, csrf: "[% blop.csrf %]"}
    });
    ajax.done(function (data, textStatus, jqXHR) {
        if (data.error) {
            alert(data.mesg ? data.mesg : "Okay!");
        }
        else {
            tr.css("background", "lightpink");
            td.addClass("deleted");
            td.html("Deleted!");
        }
    });
    ajax.fail(function (jqXHR, textStatus, errorThrown) {
        alert(errorThrown);
    });
});
</script>

[% PROCESS footer.html %]

