[% title = "Page Views" %]
[% PROCESS header.html %]

<div>
    <form>
        <input type="search" name="ipaddr" value="[% ipaddr | html %]" placeholder="IP Address"/>
        <input type="search" name="referer" value="[% referer | html %]" placeholder="Referer"/>
        <label><input type="checkbox" name="referals" value="1"[% IF referals %] checked="checked"[% END %] /> Referals</label>
        <input type="submit" value="Search" />
    </form>
</div>

<div class="navigation-summary">[% navigation.summary %]</div>

<table class="entry-list">
<tr><th>Date</th><th>IP</th><th>URL</th></tr>
[% FOREACH visit IN visits %]
<tr class="[% IF visit.first %]first [% END %][% IF visit.entrance %]entrance [% END %]">
    <td class="visit-date"><span title="[% visit.date.strftime("%A, %B %d, %Y %I:%M:%S %P") %]">[% visit.date.natural %]</span></td>
    <td><a href="?ipaddr=[% visit.ipaddr | html %]" title="[% visit.agent | html %]">[% visit.ipaddr %]</a></td>
    <td>
        [% visit.url | html %]
        [% IF visit.entrance %]<br/><a href="?referer=[% visit.referer_host | uri %]">[% visit.referer | html %]</a>[% END %]
    </td>
</tr>
[% END %]
</table>

<br/>
<div>[% navigation.links %]</div>

[% PROCESS footer.html %]
