body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: #515151;
    padding: 0;
    margin: 0;
}

.page-table {
    width: 100%;
    border-collapse: collapse;
}

.page-table td {
    vertical-align: top;
}

.content {
    line-height: 1.5;
}

pre {
    line-height: 1.2;
}

code {
    font-family: Monaco, Consolas, ProFont, monospace;
    font-size: 80%;
}

input, textarea {
    font-family: Menlo, Monaco, Consolas, ProFont, monospace;
}

a:link {
    color: #268bd2;
}

a:visited {
    color: #566bc2;
}

.site-title a:link, .site-title a:visited {
    text-decoration: none;
    color: #454545;
    font-size: 26px;
    font-weight: bold;
}

.page-links a:link, .page-links a:visited {
    text-decoration: none;
    font-size: 19px;
    color: #454545;
    margin-left: 20px;
}

.page-links a:hover, .page-links a:focus {
    text-decoration: underline;
}

.title-wrap {
    margin-top: 20px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    padding: 5px;
}

.content-wrap {
    width: 800px;
    margin: 0 auto;
    padding: 5px;
}

.footer {
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    min-height: 12px;
    clear: both;
    text-align: center;
    padding: 5px;
}

.page-links {
    font-size: smaller;
}

.listing-info {
    overflow: auto;
}

.navigation-summary {
    float: right;
}

h1, h2, h3, h4, h5, h6 {
    color: #303030;
    line-height: 1.25;
}

.post-separator {
    background: #d5d5d5;
    height: 2px;
    border: 0;
    margin-top: 26px;
}

.post-heading {
    margin-bottom: 0;
}

.post-heading a {
    text-decoration: none;
}

.post-header {
    margin-bottom: 2em;
    color: #9a9a9a;
}

.sidebar {
    width: 230px;
    background: #f3f3f3;
    min-height: 350px;
    border-left: 1px solid #d7d7d7;
    padding: 7px;
    font-size: 14px;
}

.sidebar .widget .widget-title {
    font-size: 18px;
}

.sidebar .widget-categories ul {
    list-style: none;
    padding-left: 0;
}

.sidebar .widget-archives ul {
    list-style: none;
    padding-left: 0;
}

.sidebar .widget-admin-links ul {
    list-style: none;
    padding-left: 0;
}

.note {
    background: #ffff99;
    font-weight: bold;
    padding: 12px;
    border: 1px solid #cccc66;
    display: inline-block;
}

.next-link {
    float: left;
}

.prev-link {
    float: right;
}

.comment {
    line-height: 1;
    margin-bottom: 20px;
    font-size: 12px;
}

.comment-heading {
    color: #555555;
}

.comment-content {
    font-size: 20px;
}

.comment p {
    margin-top: 5px;
    margin-bottom: 10px;
}

.comment-mesg {
    margin-left: 1em;
    color: red;
}

.comment-form {
    font-size: 12px;
}

.comment-form input {
    padding: 4px;
    margin-bottom: 3px;
}

.comment-form textarea {
    width: 500px;
    height: 120px;
    padding: 4px;
}

.editing-comment {
    border: 1px solid #cccccc;
    background: #eeeeee;
    padding: 5px;
}

.editing-comment .comment-heading {
    margin-bottom: 10px;
}

.comment-awaiting-moderation {
    background: #ffff99;
    font-weight: bold;
    border: 1px solid #cccc66;
    padding: 1px 6px;
}

.comment-deleted {
    background: #ff9999;
    font-weight: bold;
    border: 1px solid #cc6666;
    padding: 1px 6px;
}

.comment-date {
    color: #666666;
}

.muted {
    color: #cccccc;
    font-size: smaller;
}

