.synComment    {color: #586e75}
.synConstant   {color: #2aa198}
.synIdentifier {color: #268bd2}
.synStatement  {color: #859900; font-weight: bold}
.synPreProc    {color: #cb4b16}
.synType       {color: #b58900; font-weight: bold}
.synSpecial    {color: #dc322f}
.synUnderlined {color: #6c71c4}
.synError      {color: #dc322f; font-weight: bold}
.synTodo       {color: #d33682; font-weight: bold}

